/* Grupo: 38 */
/* Número: 64168, Nome: Daniel Santos, PL: 22 */
/* Número: 42081, Nome: Miguel Lopes, PL: 22 */

body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto auto;
    margin: 2.5em auto;
    width: 85%;
}

/* -------------------- */

header {
    grid-area: 1 / 1 / 2 / 3;
}

/* -------------------- */

/* NEW */
#authentication-nav {
    position: fixed;
    top: 1.5em;
    right: 3em;
}

/* -------------------- */

#explore-nav {
    grid-area: 2 / 1 / 4 / 2;
    border-right: 0.15em solid black;
}

/* -------------------- */

#subtitle {
    grid-area: 2 / 2 / 3 / 3;
}

/* -------------------- */

#content {
    grid-area: 3 / 2 / 4 / 3;
}

#tutorial-vid {
    display: flex;
    justify-content: center;
}